*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background: #fff;
}
a {
  text-decoration: none;
  font-size: 0.9em;
  font-weight: bold;
  color: #222;
}

.tp-nav-active {
  font-weight: bold;
  color: #2196f3;
}

.tp-brand {
  font-size: 1.3em;
}
.tp-navigation {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-bottom: 1.5px solid rgb(42, 216, 115);
}

.tp-navigation ul li {
  display: inline-block;
  list-style: none;
  padding: 0 0.3em;
}

.tp-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.tp-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.tp-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.tp-container:hover input ~ .tp-checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.tp-container input:checked ~ .tp-checkmark {
  background-color: #21f344;
}

/* Create the checkmark/indicator (hidden when not checked) */
.tp-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.tp-container input:checked ~ .tp-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.tp-container .tp-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tp-main-container {
  padding: 10px 0.8em;
}

.tp-heading {
  color: #222;
  margin-bottom: 5px;
  padding-bottom: 3px;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.3);
}

/* creating game */

.tp-create-game form input,
.tp-create-game form textarea {
  width: 100%;
  margin-bottom: 5px;
  padding: 1em 0.5em;
  padding-right: 0;
  border: 1px solid rgba(20, 148, 223, 0.7);
  font-size: 0.9em;
  border-radius: 3px;
}

.tp-create-game form input:focus,
.tp-create-game form textarea:focus {
  border: 1px solid rgba(14, 218, 99, 0.7);
}

.tp-create-game form button {
  padding: 1.1em;
  border-radius: 3px;
  width: 100%;
  background: rgb(6, 187, 103);
  color: #fff;
  font-weight: bolder;
  border: 0;
}

.tp-on {
  color: green;
  font-weight: bold;
}

.tp-off {
  color: red;
  font-weight: bold;
}
.tp-on-game {
  padding: 10px 0.8em;
  background: #ccc;
}

.tp-options {
  margin-top: 10px;
}

.tp-chip {
  display: inline-block;
  margin-top: 5px;
  padding: 0 10px;
  border-radius: 50%;
  font-size: 0.9em;
  text-align: center;
  background: rgb(11, 116, 100);
  color: #fff;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
}

.tp-withdraw-request {
  background: #ccc;
  margin-bottom: 10px;
  padding: 5px 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.tp-dismiss {
  padding: 8px 1em;
  display: block;
  background: transparent;
  border: none;
  outline: none;
}
